  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <p class="float-end mb-1 totop">
        <a href="#"><i class="fas fa-arrow-square-up fa-2x"></i> Back to top</a>
      </p>
      <p class="mb-0">View on <a href="https://github.com/larafoster/tech-blog" target="_blank">Github</a> --
        Lara Foster - 2021</p>
    </div>
  </footer>