<div class="container d-flex justify-content-center py-3">
  <div class="col-md-8">
    <div class="card my-8">
      <div class="card-header">
        <h3 class="card-title">Edit Post</h3>
      </div>
      <div class="card-body">
        <p class="card-text">To edit the post, simply write over the current content. </p>
        <form id="edit-form" class="card-body">
          <input type="hidden" name="post-id" value="{{post.id}}" />
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" value="{{post.title}}" class="form-control" />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Enter Post Content</label>
            <textarea class="form-control" name="description"> {{post.body}}</textarea>
          </div>
      </div>
      <div class="card-footer bg-transparent">
        <div class="d-flex">
          <div class="p-2 "> <a href="/protected" type="button" class="btn btn-warning"><i
                class="fas fa-arrow-left"></i> Back</a></div>
          <div class="p-2 flex-grow-1"><button type="submit" class="btn btn-success">Update Post</button></div>
          <div class="p-2 "><button type="button" id="delete-btn"
              class="btn btn-danger justify-self-end">Delete</button></div>
        </div>
      </div>
      </form>

    </div>
  </div>
</div>

<script src="/js/edit.js"></script>