
<div class="container d-flex justify-content-center py-3">
    <div class="col-md-6">
    <div class="card my-8">

      <div class="card-header">
        <h3 class="card-title">Create New Post</h3>
</div>
  <div class="card-body">

    <form id="create-form" class="card-body">

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title"
          placeholder="Enter a title for your post">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Enter Post Content</label>
        <textarea class="form-control" id="description" rows="6"></textarea>
      </div>
       <a href="/protected" class="btn btn-warning my-2"><i
                class="fas fa-arrow-left"></i> Back</a></a>
        <button type="submit" class="btn btn-primary">Submit Post</button>

    </form>
  </div>
</div>
</div>
</div>

<script src="/js/new.js"></script>