<div class="container d-flex justify-content-center py-3">
    <div class="col-md-8">
     {{#each posts}}
    <div class="card my-4">
      <div class="card-header">
        <h3 class="card-title">{{title}}</h3>
</div>
    <div class="card-body">
      <div class="small text-muted">Created on: {{format_date createdAt}}</div>
      <p class="card-text"> {{description}}</p>
      
    </div>
    <div class="card-footer bg-transparent"><a class="btn btn-primary" href="/protected/edit/{{id}}"><i
          class="far fa-pencil"></i> Edit</a></div>
  </div>
  {{/each}}
</div></div>