
<div class="container d-flex justify-content-center py-3">
    <div class="col-md-5">
    <form id="register-form">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
           <h3>Register</h3> 
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="username-new">Username</label>
              <input class="form-control" type="text" id="username-new" />
            </div>
            <div class="form-group">
              <label for="email-new">Email</label>
              <input class="form-control" type="text" id="email-new" />
            </div>
            <div class="form-group">
              <label for="password-new">Password</label>
              <input class="form-control" type="password" id="password-new" />
            </div>
          </div>
          <div class="card-footer bg-transparent">
                 <button type="submit" id="register-btn" class="btn btn-primary">Register</button> <br />
            <div class="pt-3">
              <a href="/login">Already a member? Login.</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="/js/register.js"></script>